@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
  background: #47b599;
}
body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(farthest-side at top left, rgba(255, 0, 255, 0.67), transparent 100%), 
  radial-gradient(farthest-corner at bottom right, rgba(255, 50, 50, 0.67), transparent 60%);
  background-attachment: fixed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
